[Unit]
Description=DCS Dedicated Server Watchdog
# only start watchdog after dcs-server has been started
After=dcs-server@%i.service
# stop/restart watchdog together with dcs-server
PartOf=dcs-server@%i.service

[Service]
Type=simple
ExecStart=%h/bin/dcs-watchdog.py DCS.%i
Restart=always
