[Unit]
Description=DCS Updater
Documentation=https://forum.dcs.world/topic/324040-eagle-dynamics-modular-dedicated-server-installer/
Documentation=https://forum.dcs.world/topic/94816-guide-info-dcs-updater-usage-version-numbers-module-ids/

# verify required file and directory structure
AssertFileNotEmpty=%h/.wine/drive_c/DCS_server/autoupdate.cfg
AssertFileNotEmpty=%h/.wine/drive_c/DCS_server/dcs_variant.txt
AssertFileNotEmpty=%h/.wine/drive_c/DCS_server/bin/DCS_updater.exe

# depend on shared wineserver (see wineserver.service for details)
After=wineserver.service
Requires=wineserver.service

[Service]
Type=oneshot
WorkingDirectory=%h/.wine/drive_c/DCS_server
ExecStart=/usr/bin/wine %h/.wine/drive_c/DCS_server/bin/DCS_updater.exe update
ExecStartPost=%h/patches/00_apply_all.sh

# (re)start all enabled dcs-server@* instances after updater exited
# FIXME: starts enabled server instances that were not running before update
#ExecStopPost=/bin/sh -c "cd %h/.config/systemd/user/default.target.wants ; systemctl --user --no-block start dcs-server@*.service"
