[Unit]
Description=VNC Server
Documentation=man:wayvnc(1)

After=sway.service
BindsTo=sway.service

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/usr/bin/wayvnc --disable-resizing --websocket 127.0.0.1 %i

Restart=always
RestartSec=1
