[Unit]
Description=VNC Server
Documentation=man:wayvnc(1)
Before=default.target
After=sway.service
BindsTo=sway.service

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/usr/bin/wayvnc 127.0.0.1 %i
