*~
*.bak

.bash*
.cache
.gitconfig
.lesshst
.local/share/*
!.local/share/novnc/
.net
.profile
.python_history
.ssh
.wget-hsts

.config/lighttpd/*.crt
.config/lighttpd/*.pem
.config/systemd/user/*.target.wants

.wine/*.*
.wine/dosdevices
.wine/drive_c/DCS_configs/DCS.*
.wine/drive_c/DCS_configs/Tacview/*.acmi
.wine/drive_c/DCS_server
.wine/drive_c/Olympus
.wine/drive_c/Program*
.wine/drive_c/SRS_server
.wine/drive_c/users
.wine/drive_c/windows
